streamlit
pandas
networkx
pyvis
youtube-transcript-api
newspaper3k
requests
beautifulsoup4
scikit-learn
sentence-transformers
keybert
transformers
PyPDF2
python-docx
spacy
nltk
lxml==4.9.3
newspaper3k==0.2.8

