streamlit
pandas
networkx
pyvis
youtube-transcript-api
newspaper3k==0.2.8
requests
beautifulsoup4
scikit-learn
sentence-transformers
keybert
transformers
PyPDF2
python-docx
spacy==3.7.2
nltk
lxml>=4.6.0
lxml-html-clean